:root {
    --tamanio-figura: 40px;
}


nav.nav-blog{
  background-color: #282b2d !important;
  font-size: 1.6rem !important;
}

nav.nav-blog a{
  color: #f3ecec !important;
}

nav.nav-blog a:hover{
  color: #fff !important;
}


input.search-item{
    /*max-width: 80% !important;*/
    margin: auto !important;
    display: block !important;
}

.results-search{
    max-width: 82% !important;
    margin: auto !important;
    padding-top: 1.6rem !important;
    text-align: center !important;
}

.results-search li {
    padding: .4rem !important;
}

.results-search li a{  
    color: #464343 !important;
}

.results-search li a:hover{
    color: #000 !important;
}

.relatedPost{
  margin: 1rem !important;
  text-align: center;
  font-size: 1.1rem;
}
.relatedPost a {
  color: #464343 !important;
}

.relatedPost a:hover {
  color: #000 !important;
}

.post-relacionados h4{
    margin-top: 2.4rem;
    font-size: 2.2rem;
    color: #464040;
    text-align: center;
}

article.post h1 a{
  font-size: 3.1rem !important;
  color: #464343 !important;
}

article.post h1 a{
  color: #000 !important;
}

/*UPDATE MARKDOWN SINTAXYS*/
strong{
  font-weight: bolder !important;
}

/*CSS FOR VIDEOS*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title_article{
  font-size: 3.6rem !important;
}

.nav_search{
  background-color: #282b2d !important;
}

.input_cursor{
  cursor:pointer;
}

.app_options{
  height: 200px;
  background-image: url(https://images.pexels.com/photos/1820563/pexels-photo-1820563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}
img.circle-img{
  height: 60px;
  border-radius: 50%;
  width: 60px;
}

.text-left{
  text-align: left;
}
.text-bold{
  font-weight: bold;
}

.nav_search_container{
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.capitalize_text{
  text-transform: capitalize;
}




/* SOCIAL ICONS */
/* Share Bar */
#share-bar {
    font-size: 20px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

/* All buttons */
.share-buttons {
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* COLORES TEXTO */
.fa-facebook-official,
.fa-twitter,
.fa-pinterest-p,
.fa-reddit-alien,
.fa-linkedin{
  color: #fff;
}
/* Facebook button */
.fa-facebook-official {
    background: #3b5998;    
}
/* Twitter button */
.fa-twitter {
  background: #55acee;
}
/* Pinterest button */
.fa-pinterest-p {
  background: #cb2027;
}

/* Reddit button */
.fa-reddit-alien {
  background: #ff4500;
}
/* LinkedIn button */
.fa-linkedin {
  background: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}
.fa-envelope:hover {
    background-color: #444444;
}

/* PDF STYLE */
.iframe_container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.iframe_container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote{
  font-size: 1.05rem !important;
}

.container_images_proyect{
    display: flex;
    flex-wrap: wrap;
}
.container_images_proyect .material-placeholder{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
.container_images_proyect img{
    width: 420px;
    min-height: 230px;
}

.materialbox-caption{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    padding: 0px;
}



/* CSS PRELOADER */
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ocultar {
    display: none;
}

#preloaderfiguras {
    position: relative;
}

#preloaderfiguras:before {
    width: var(--tamanio-figura);
    height: var(--tamanio-figura);
    border-radius: 20px;
    background: blue;
    content: "";
    position: absolute;
    background: #9b59b6;
    animation: preloaderfiguras_before 1.5s infinite ease-in-out;
}

#preloaderfiguras:after {
    width: var(--tamanio-figura);
    height: var(--tamanio-figura);
    border-radius: 20px;
    background: blue;
    content: "";
    position: absolute;
    background: #2ecc71;
    left: 22px;
    animation: preloaderfiguras_after 1.5s infinite ease-in-out;
}

@keyframes preloaderfiguras_before {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    50% {
        transform: translateX(50px) scale(1.2) rotate(260deg);
        background: #2ecc71;
        border-radius: 0px;
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes preloaderfiguras_after {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-50px) scale(1.2) rotate(-260deg);
        background: #9b59b6;
        border-radius: 0px;
    }

    100% {
        transform: translateX(0px);
    }
}

