nav.nav-blog{
  background-color: #53575a !important;
  font-size: 1.6rem !important;
}

input.search-item{
    max-width: 80% !important;
    margin: auto !important;
    display: block !important;
}

.results-search{
    max-width: 82% !important;
    margin: auto !important;
    padding-top: 1rem !important;
    text-align: center !important;
}

.results-search li a{  
    color: #464343 !important;
}

.results-search li a:hover{
    color: #000 !important;
}
