<div id="share-bar">
    <h4>¿Te ha gustado este artículo? ¡Compártelo!</h4>

    <div class="share-buttons">
        <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.title }}"
        rel="nofollow" title="Share on Facebook" target="_blank">
            <i class="fa fa-facebook-official share-button capitalize_text"> facebook</i>
        </a>

        <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" >
            <i class="fa fa-twitter share-button capitalize_text"> twitter</i>
        </a>
    
        <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}" target="_blank"
            title="Share on LinkedIn" >
            <i class="fa fa-linkedin share-button capitalize_text"> linkedin</i>
        </a>

        <a  href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Share via Email" >
            <i class="fa fa-envelope share-button capitalize_text"> email</i>
        </a>
    </div>
</div>