<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml" />
    <!-- FAVICON -->
    <link rel="icon" href="{{site.baseurl }}/favicon.ico">
    <!-- ESTILOS -->
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/vs2015.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog.css">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.author }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSMBlog"
            aria-controls="navbarSMBlog" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSMBlog">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ site.baseurl }}/">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about-me">Sobre Mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn_dark_mode" href="#">Cambiar Tema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        Modo: <span id="icon-theme-mode">Icon</span>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="Buscar"
                    aria-label="Buscar">
            </form>
        </div>
    </nav>
    <!-- RESULTADOS BUSQUEDA -->
    <div class="container-results-search">
        <ul class="list-group" id="results-container"></ul>
    </div>
    <!-- CONTENIDO PAGINA -->
    <div id="main-content-blog" class="container content-container ocultar">
        {{ content }}
    </div>
    <!-- PRELOADER -->
    <div class="contenedor" id="preloader_pagina">
        <div id="preloaderfiguras">
        </div>
    </div>
    <!-- FOOTER -->
    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer footer-icons-social">
                {% include svg-icons.html %}
            </footer>
            <div class="footer-description">
                <p>©2018 Stalin Maza - Todos los Derechos Reservados</p>
            </div>
        </div>
    </div>
    <!-- Boton hacia arriba -->
    <a class="ir-arriba" javascript:void(0) title="Volver arriba">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span>
    </a>

    {% include analytics.html %}
</body>
<!-- Compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<!-- HIGHLIGHT JS -->
<script type="text/javascript" src="{{ site.baseurl }}/js/highlight.js"></script>
<!-- input search js -->
<script type="text/javascript" src="{{ site.baseurl }}/js/jekyll-search.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/blog.js"></script>

</html>